@import '../../../styles/_layout_variables.scss';

bm-content-container {
  flex: 1 1 0;
  overflow-x: auto;
  height: calc(100% - #{$header-height} - 3em);
  box-sizing: content-box;
  padding: 1em 1.5em;
}
