@import '../../../styles/_color_variables.scss';
@import '../../../styles/_layout_variables.scss';

bm-sidenav {
  box-sizing: content-box;
  height: calc(100% - #{$header-height});
  position: relative;
  display: inline-block;
  color: var(--header-color, $header-color);
  flex: 0 1 auto;
}

.bm-sidenav {
  &__container {
    height: 100%;
    display: flex;
  }

  &__toggle-container {
    position: absolute;
    right: -1.2em;
    top: 50%;
  }

  &__toggle-button {
    vertical-align: middle;
    border: none;
    background: none;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    width: 0.6em;
    height: 1.5em;
    color: var(--header-background-color, $header-background-color);
  }

  &__sections-container {
    padding: 0;
    list-style: none;
    margin: 0;
    height: 100%;
    width: 4.3em;
    background-color: var(--header-background-color, $header-background-color);
  }

  &-section-link {
    display: block;
    text-decoration: none;
    color: #f8f8f8;
    font-size: inherit;

    &__icon {
      font-size: 2em;
      display: inline-block;
      padding: 0.5em;
    }

    &--selected {
      color: var(--header-background-color, $header-background-color);
      background-color: var(--header-color, $header-color);
    }
  }

  &-submenu {
    &__container {
      background-color: var(--header-color, $header-color);
      height: 100%;
      flex: 1 1 auto;
    }
  }

  &-product-logo {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    height: 5em;

    &__graphic {
      position: absolute;
      top: -0.5em;
      left: 0.3em;
      display: inline-block;
      color: var(--header-background-color, $header-background-color);
      height: 3.2em;
      width: 3.2em;
    }
  }

  &-subsection {
    padding: 0 0.5em;

    &--first {
      margin-top: 3rem;
    }

    &__separator-line {
      border: 1px solid #d8d8d8;
    }

    &-title {
      height: 14px;
      width: 100%;
      color: #333;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      text-transform: uppercase;
      padding: 0.5em;
    }

    &-menu {
      padding: 0;
      list-style: none;
      margin: 0;
      width: 100%;
      color: var(--header-background-color, $header-background-color);

      &__item {
        padding: 0.5em;
        display: block;

        &--selected {
          background-color: #eaeaea;
        }
      }
    }
  }
}
