<div class="bm-sidenav__container" [@stretch]="(open ? 'expand' : 'collapse')" (@stretch.done)="animationDone($event)">
  <div class="bm-sidenav__toggle-container">
    <button class="bm-sidenav__toggle-button" i18n-arial-label aria-label="Toggle menu" i18n-title title="Toggle menu" (click)="toggle()">
      <i class="fa fa-chevron-right" aria-hidden="true" [@rotate]="(open ? 'expand' : 'collapse')"></i>
    </button>
  </div>
  <ng-content></ng-content>
</div>
