.bmat-tab {
  float: left;

  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 0.4rem solid var(--header-background-color, $header-background-color);
    z-index: 2;
  }

  [type=radio]:checked ~ label ~ .bmat-tab-content {
    z-index: 1;
  }

  &-group {
    position: relative;
    clear: both;
    margin: 25px 0;
  }

  label {
    padding: 10px;
    box-sizing: border-box;
    margin-left: -1px;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5em;
    height: 2em;
    left: 1px;
    font-family: 'Proxima-Semibold';
    font-weight: 500;
    font-size: 1rem;

    span {
      position: relative;
      top: -0.5em;
    }
  }

  [type=radio] {
    display: none;
  }

  &-content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-top: 0.15rem solid var(--secondary-color, $secondary-color);
  }
}
