.bmat-form-tag {
  background: var(--secondary-color, $secondary-color);
  border: 1px solid var(--tag-color, $tag-color);
  border-radius: 0.333rem;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin-right: 0.3rem;

  span {
    font-family: 'Proxima-Semibold';
  }

  label.bmat-form-tag-check {
    padding-right: 0;
    vertical-align: text-bottom;

    i {
      display: none;
      border: 1px solid var(--tag-color, $tag-color);
      border-radius: 50%;
      height: 1em;
      width: 1em;
    }
  }

  input {
    display: none;

    &:checked + i {
      display: inline-block;
      background-color: var(--tag-color, $tag-color);
    }

    &:not(:checked) + i + i {
      display: inline-block;
      color: transparent;
    }
  }

  p {
    float: none;
    padding: 0;
    line-height: 0;
  }
}

.bmat-order-tag {
  background: #f8f8f8;
  border: 1px solid #cdcdcd;
  border-radius: 0.333rem;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;

  span {
    font-family: 'Proxima-Semibold';
    padding-right: 0.3rem;
    font-weight: 500;
  }
}
