<input #inputFile type="file" class="bm-visual-hidden"
  [multiple]="multiple"
  (change)="onInputFileChange($event)"/>
<div #dropArea class="bm-file-upload-drop-area">
  <ng-content></ng-content>
  <div>
    <i class="fa fa-upload bm-file-upload__upload-icon" aria-hidden="true"></i>
    <div i18n>
      <p>Drag &amp; Drop your audio {numberFiles, plural, =0 {file} =1 {files}}</p>
      <p>
        <button class="bm-button bm-button--primary" (click)="inputFile.click()">select {numberFiles, plural, =0 {file} =1 {files}}</button>
      </p>
    </div>
  </div>
  <ng-content select="[bmFileUploadFooter]"></ng-content>
</div>