@import '../../../styles/_color_variables.scss';

.bm-file-upload {
  &--drag-hover {
    .bm-file-upload-drop-area {
      border-width: 2px;
    }
  }

  &__upload-icon {
    font-size: 3em;
  }

  &-drop-area {
    box-sizing: border-box;
    border: 1px dashed var(--header-background-color, $header-background-color);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;

    p {
      font-size: 0.9rem;
      margin: 0.5rem 0;
    }

    * {
      pointer-events: none;
    }

    button {
      pointer-events: auto;
    }
  }
}
