<h3>{{userData?.name}}</h3>
<p class="email">{{userData?.email}}</p>
<p class="button-container">
  <button class="bm-button bm-button--primary bm-header-view-profile" (click)="viewDetails.emit()">View profile</button>
</p>