@import '../../../../styles/_color_variables.scss';

:host {
  display: inline-block;
  width: 22em;
  max-width: 90%;
  flex: 1 1 0;

  .email {
    color: var(--header-background-color, $header-background-color);
    font-size: 80%;
  }

  .button-container {
    margin-top: 1em;
  }
}

h3,
p {
  margin: 0;
}
