@import '../../../styles/_color_variables.scss';
@import '../../../styles/_layout_variables.scss';

bm-header {
  padding: 6px 16px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--header-background-color, $header-background-color);
  color: var(--header-color, $header-color);
  font-weight: 600;
  font-size: 2em;
  flex: 1 1 100%;
  box-sizing: border-box;
}
