<input #inputFile type="file" class="bm-visual-hidden"
  [multiple]="multiple"
  (blur)="onInputBlur($event)"
  (change)="onInputFileChange($event)"/>
<div #dropArea class="bm-click-file-upload-drop-area" (click)="inputFile.click()">
  <ng-content></ng-content>
</div>