.bmat-card {
  width: 14.1875rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(43, 59, 93, 0.29);
  border-radius: 0.333rem;
  position: relative;
  margin-right: 2rem;

  .edit-button {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }

  &-header {
    .bmat-checkbox {
      i {
        background-color: white;
      }

      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
    }
  }

  &-header,
  &-content,
  &-footer {
    padding: 1rem;
  }

  &-header,
  &-footer {
    background-color: var(--secondary-color, $secondary-color);
  }

  &.track {
    overflow: hidden;
    text-align: center;

    h4,
    h5,
    span,
    p {
      margin: 0.3rem;
    }
  }

  &.customer {
    width: 21rem;

    .bmat-card {
      &-header {
        height: 2rem;
      }

      &-content {
        display: flex;

        .fields,
        .values {
          margin-right: 1rem;
        }
      }
    }

    .avatar {
      border-radius: 50%;
      float: left;
    }

    .customer-data {
      float: left;
      margin-left: 1em;

      h4 {
        margin: 0;
      }
    }
  }

  &.alert-card {
    box-shadow: 0 0 5px 0 var(--alert-color, $alert-color);
  }

  &.active-card {
    box-shadow: 0 0 5px 0 var(--active-card-color, $header-background-color);
  }

  &-overlay {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  &-overlay ~ &-header,
  &-overlay ~ &-content,
  &-overlay ~ &-footer {
    opacity: 0.2;
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -o-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
  }
}
