.bmat-panel {
  box-shadow: 0 1px 2px 0 rgba(43, 59, 93, 0.29);
  border-radius: 0.333rem;
  margin-bottom: 1em;

  &-header,
  &-content,
  &-footer {
    padding: 1em;
  }

  &-header,
  &-footer {
    background-color: var(--secondary-color, $secondary-color);
  }

  &-header {
    i {
      margin-right: 1em;
    }
  }
}
