<label class="bm-checkbox__label-container">
  <input #input type="checkbox" class="bm-visual-hidden"
    [required]="required"
    [disabled]="disabled"
    [name]="name"
    [tabIndex]="tabIndex"
    [readonly]="readonly"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    (change)="inputChange($event)"
    (focus)="inputFocus()"
    (blur)="inputBlur()"
  />
  <div class="bm-checkbox__container">
    <svg *ngIf="checked" [@fadeInOut]="'in'" class="bm-checkbox__tick"
      xml:space="preserve" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path class="bm-checkbox__tick-path" d="M4.1,12.7 9,17.6 20.3,6.3" fill="none" stroke="white"></path>
    </svg>
  </div>
  <span class="bm-checkbox__label"><ng-content></ng-content></span>
</label>