@import '../../../styles/_color_variables.scss';

.bm-checkbox {
  &--focused {
    .bm-checkbox-container {
      border-color: var(--bm-checkbox-path-color, $anchor-color);
    }
  }

  &__container {
    border: 1px solid var(--secondary-color, $secondary-color);
    border-radius: 3px;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: middle;
  }

  &__tick {
    position: absolute;
  }

  &__tick-path {
    stroke: var(--bm-checkbox-path-color, $anchor-color);
    stroke-width: 5px;
    vertical-align: middle;
  }
}
