@mixin inverse($text, $background, $border) {
  background-color: #{$background};
  border: 1px solid var(--header-background-color-hover, #{$border});
  color: var(--header-background-color-hover, #{$text});
}

@mixin disabledInverse() {
  border-color: var(--secondary-color, $secondary-color);
  color: var(--secondary-color, $secondary-color);
  background-color: white;
}

.bm-button {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0.1rem;
  width: auto;
  font-family: 'Proxima-Bold';
  font-weight: 600;
  cursor: pointer;

  &--primary {
    background-color: var(--header-background-color, $header-background-color);
    border: none;
    color: white;

    &:hover:not(:disabled) {
      background-color: var(--header-background-color-hover, $header-background-color-hover);
    }

    &:disabled {
      background-color: var(--secondary-color, $secondary-color);
    }
  }

  &--primary-inverse {
    @include inverse($header-background-color, white, $header-background-color);

    &:disabled {
      @include disabledInverse();
    }

    &:hover:not(:disabled) {
      background-color: var(--header-background-color-hover, $header-background-color-hover);
      color: white;
    }
  }

  &--secondary {
    background-color: var(--secondary-color, $secondary-color);
    border: none;
    color: white;

    &:hover:not(:disabled) {
      background-color: var(--secondary-color-hover, $secondary-color-hover);
    }

    &:disabled {
      background-color: var(--secondary-color, $secondary-color);
    }
  }

  &--secondary-inverse {
    @include inverse($secondary-color, white, $secondary-color-hover);

    &:hover:not(:disabled) {
      background-color: var(--secondary-color-hover, $secondary-color-hover);
      color: white;
    }

    &:disabled {
      background-color: var(--secondary-color, $secondary-color);
      color: white;
    }
  }
}

.bm-transparent-button {
  border: 0 none;
  background: none;
  color: $anchor-color;
  font-size: 0.815rem;
  font-family: 'Proxima-Regular';
  cursor: pointer;

  &:disabled {
    background-color: var(--secondary-color, $secondary-color);
  }
}
