$tag-color: #f5a623;

$anchor-color: #4399fd;
$alert-color: #ff443c;
$header-background-color: #3e71ad;
$header-background-color-hover: #3e71ad;
$header-color: #f8f8f8;
$secondary-color: #bcbcbc;
$secondary-color-hover: #959494;
