@import '../../../../styles/_color_variables.scss';

@mixin bar-dimensions() {
  height: 0.5em;
  border-radius: 0.4em;
}

:host {
  display: inline-block;
  min-width: 10em;
  max-width: 100%;
}

.bm-progress-bar {
  @include bar-dimensions();

  width: 100%;
  background-color: var(--secondary-color-hover, $secondary-color-hover);
  position: relative;
}

:host(:not([static=true])) {
  .bm-inner-progress-bar {
    transition: width 2s;
  }
}

.bm-inner-progress-bar {
  @include bar-dimensions();

  display: block;
  background-color: var(--header-background-color, $header-background-color);
}
