<div class="bm-input bm-input-search__input-container">
  <input #input class="bm-input bm-input-search__input"
    autocomplete="off"
    [type]="type"
    [required]="required"
    [disabled]="disabled"
    [name]="name"
    [tabIndex]="tabIndex"
    [readonly]="readonly"
    [placeholder]="placeholder"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    (keyup)="inputKeyUp($event)"
    (change)="inputChange($event)"
    (blur)="inputBlur()"/>
  <button class="bm-button bm-button--primary bm-input-search__search-button"
    (click)="search.emit(input.value)"
  >
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</div>

<div class="bm-input-search__suggestions-container" *ngIf="showSuggestions">
  <ul class="bm-input-search__suggestions-list">
    <li i18n tabindex="-1"
      *ngIf="filteredSuggestions.length === 0"
      class="bm-input-search__suggestions-list-item">No matches found</li>
    <li #sugg tabindex="0" *ngFor="let suggestion of filteredSuggestions; let i = index;"
      class="bm-input-search__suggestions-list-item"
      (click)="setInput(suggestion)"
      (keydown)="suggestionKeyUp($event, i, suggestion)">
      {{suggestion}}
    </li>
  </ul>
</div>
