@import '../../../styles/_color_variables.scss';

bm-input-search {
  display: inline-block;
  position: relative;
}

.bm-input-search {
  &__input {
    padding: 0.3rem 3rem 0.3rem 1rem !important;
    width: 100%;
    box-sizing: border-box;
  }

  &__input-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__search-button {
    display: block;
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 0.75em;
    font-weight: 400;
  }

  &--inverse {
    .bm-input-search__input {
      background-color: white;
    }
  }

  &__suggestions-container {
    position: absolute;
    top: 2.4em;
    width: 100%;
    max-height: 10em;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);
    overflow-x: auto;
  }

  &__suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__suggestions-list-item {
    padding: 0.2em 1em;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: white;
    }

    &:nth-child(even) {
      background-color: var(--secondary-color, $secondary-color);
    }

    &:hover,
    &:focus {
      background-color: var(--secondary-color-hover, $secondary-color-hover);
    }
  }
}
