@import '../../../styles/_color_variables.scss';

.bm-menu-icon {
  &__container {
    color: var(--secondary-color, $secondary-color);
    display: block;
    text-align: center;
    width: 4.4em;
  }

  &-graphic {
    display: inline-block;
    height: 3em;
    width: 3em;

    &__icon__path,
    &__icon_text {
      fill: $header-color;
    }
  }
}
