<select #select
  class="bm-select__select"
  [required]="required"
  [disabled]="disabled"
  [name]="name"
  [tabIndex]="tabIndex"
  [attr.aria-label]="ariaLabel"
  [attr.aria-labelledby]="ariaLabelledby"
  (change)="inputChange($event)"
  (blur)="inputBlur()">
  <ng-content></ng-content>
</select>
