@import '../../../styles/_color_variables.scss';

.bm-select {
  &__select {
    -moz-appearance: none;
    -ms-word-break: normal;
    -webkit-appearance: none;
    appearance: none;
    background: var(--header-color, $header-color);
    border-radius: 0.333em;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-family: 'proxima-regular';
    font-size: 0.815rem;
    font-weight: 400;
    line-height: 1.45rem;
    padding: 0.3em 2em 0.3em 0.6em;
    width: 100%;
    word-break: normal;
  }
}

bm-select {
  min-width: 200;
  display: inline-block;
  position: relative;

  &--inverse {
    .bm-select__select {
      background: white;
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &::after {
    content: '\f0d7';
    font: normal normal normal 15px/1 FontAwesome;
    right: 8px;
    top: 6px;
    position: absolute;
    pointer-events: none;
  }
}
