<div class="bm-pw-logo-container">
  <div i18n class="bm-pw-lema-container">Powered by</div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 189.69 176.42"><defs><style>.cls-1{fill:#c03f5c}.cls-2{fill:#fff}</style></defs>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
          <path class="cls-1" d="M87.46 9.11a61.84 61.84 0 0 0-57 38.24c-.82 2-1.94 3.48-4.29 3.58-3.13.13-5.1-1.84-4.79-4.95a9.33 9.33 0 0 1 .85-2.84c10.12-22.38 27-36.58 51.16-41.63 30-6.29 60.28 7.45 75.9 34.88a69.11 69.11 0 0 1 8.56 27.68 70.22 70.22 0 0 1-4.55 32.56c-.76 2-2 3.2-4.23 3.27-3 .1-4.92-1.81-4.71-4.8a10 10 0 0 1 .66-2.64 61.13 61.13 0 0 0 3.92-22A60.27 60.27 0 0 0 135.17 32a60.7 60.7 0 0 0-38-22c-3.17-.54-6.48-.61-9.71-.89z"/>
          <path class="cls-1" d="M83.88 28.24c-16.26-.28-35 14.38-38.55 36.06a41.5 41.5 0 0 0 4.74 26.79 27.81 27.81 0 0 1 1.37 2.66 4.45 4.45 0 0 1-1.91 5.62 4.86 4.86 0 0 1-5.72-.86 6.77 6.77 0 0 1-.81-1.23c-4.56-7.93-7.43-16.43-7.32-25.62.25-20.51 9.29-36.09 27.1-46.33a48.62 48.62 0 0 1 28.32-6.21 51.85 51.85 0 0 1 47.2 42c2.4 12.75.14 24.63-6.16 35.86-1.05 1.88-2.4 3.12-4.74 3a4.41 4.41 0 0 1-4-6 21.63 21.63 0 0 1 1.34-2.67 41.36 41.36 0 0 0 5.14-24.3 41.85 41.85 0 0 0-14.66-28.41C107.31 31.74 98 28.31 83.88 28.24z"/>
          <path class="cls-1" d="M87.42 103.46a32.7 32.7 0 1 1 32.8-32.59 32.47 32.47 0 0 1-32.8 32.59zM111 70.71a23.55 23.55 0 1 0-23.64 23.6A23.46 23.46 0 0 0 111 70.71z"/>
          <path class="cls-2" d="M105.5 175.34v-24.75a24.5 24.5 0 0 0-.44-4.7 6.91 6.91 0 0 0-6-5.91c-3.57-.58-6.85.08-9.13 3.22a11.12 11.12 0 0 0-2.19 6.8c.05 7.5 0 15 0 22.5v2.88h-9.83v-2.73c0-7.67.06-15.33 0-23a16.15 16.15 0 0 0-.91-4.84 6.86 6.86 0 0 0-6.07-4.87c-3.37-.41-6.3.5-8.4 3.31a11.89 11.89 0 0 0-2.37 7.47c.06 7.25 0 14.5 0 21.75v2.9h-9.7v-44h9.37l.57 2.7c8.69-5.94 18.07-4.19 24.08 2.57.46-.43.91-.88 1.39-1.3 5.65-4.94 12.12-6.1 19.12-3.74 6.24 2.1 10.24 8.22 10.34 15.65.12 8.91 0 17.83 0 26.74 0 .4-.07.8-.12 1.38zM9.57 120.31v15.11a2 2 0 0 0 1.14-.46c11.38-9.48 29.19-3.29 32.8 11.51 2.11 8.65.95 16.71-5.33 23.51a20.55 20.55 0 0 1-26.65 2.76c-.46-.33-.9-.69-1.74-1.32-.09 1.54-.15 2.81-.2 3.83L0 175.3v-53.44m34.69 31.71a47.44 47.44 0 0 0-1.37-6 11.93 11.93 0 0 0-16.84-6.43c-7.76 4.07-9.55 15.12-3.54 21.89a12.38 12.38 0 0 0 16.49 1.83c3.68-2.79 4.88-6.8 5.26-11.29zm120.61-18.09l.2-4h9.64v43.28h-9.57l-.32-3.49c-.53.35-.87.54-1.17.78-9.87 8.06-24.94 4.38-30.83-7.1-4.27-8.33-3.36-20.46 3.13-27.64a20.79 20.79 0 0 1 27.2-3.19c.42.38.91.74 1.72 1.36zm-24.77 18h.13c.05.83.07 1.66.17 2.49a12.23 12.23 0 0 0 22.8 5.07 14.86 14.86 0 0 0-1.52-17.19 12.05 12.05 0 0 0-12.23-3.79c-4.63 1-7.45 4.18-8.6 8.74-.39 1.53-.51 3.11-.75 4.67zm59.02 13.45v8.64c-5.48 1.69-11.62.08-14.39-4.07a20.87 20.87 0 0 1-2.24-5.73 12.6 12.6 0 0 1-.22-3.48v-40.43l9.73-1.62v11h7.27v9.12h-7c-.07 1-.16 1.77-.17 2.56v18.48c0 4.2 1.3 5.48 5.54 5.5z"/>
        </g>
      </g>
    </svg>
</div>
<div class="bm-pw-all-rights-notice">
  <span>{{currentYear}}</span>&nbsp;<span i18n>All rights reserved.</span>
</div>