@import '../../../styles/_color_variables.scss';

:host {
  text-align: center;
  padding: 0 0.5em;
}

* {
  vertical-align: middle;
  font-size: inherit;
}

.bm-pw-logo-container {
  font-size: smaller;
  color: var(--secondary-color, $secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  .bm-pw-lema-container {
    padding: 0 0.5em;
  }

  svg {
    width: 4em;
    height: 4em;
  }
}

.bm-pw-all-rights-notice {
  font-size: x-small;
}

:host([collapse]) {
  .bm-pw-lema-container,
  .bm-pw-all-rights-notice {
    display: none;
  }
}
