@import './_color_variables.scss';

label.bmat {
  &-checkbox,
  &-radio {
    input {
      display: none;
    }

    i {
      display: none;
    }
  }

  &-checkbox {
    &.inverse {
      i {
        background-color: white;
      }
    }

    input {
      &:checked + i {
        display: inline-block;
        color: red;
        border: 1px solid var(--secondary-color, $secondary-color);
      }

      &:not(:checked) + i + i {
        display: inline-block;
        color: transparent;
        border: 1px solid var(--secondary-color, $secondary-color);
      }
    }
  }

  &-radio {
    input {
      &:checked + i {
        display: inline-block;
        background-color: red;
        border: 1px solid var(--secondary-color, $secondary-color);
      }

      &:not(:checked) + i + i {
        display: inline-block;
        border: 1px solid var(--secondary-color, $secondary-color);
      }
    }

    i {
      width: 1em;
      height: 1em;
      border-radius: 50%;
    }
  }
}

.bmat-select {
  min-width: 200;
  display: inline-block;
  position: relative;

  &::after {
    content: '\f0d7';
    font: normal normal normal 15px/1 FontAwesome;
    right: 11px;
    top: 6px;
    position: absolute;
    pointer-events: none;
  }

  select {
    padding: 0.3rem 2rem 0.3rem 0.6rem;
    border-radius: 0.333rem;
    font-family: 'Proxima-Semibold';
    font-weight: 400;
    font-size: 0.815rem;
    background: var(--header-color, $header-color);
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    -ms-word-break: normal;
    word-break: normal;
  }

  &.inverse {
    select {
      background: white;
      box-shadow: none;
    }
  }
}

@mixin inputClass() {
  padding: 0.3rem 0.6rem;
  border-radius: 0.333rem;
  font-family: 'Proxima-Regular';
  font-weight: 400;
  font-size: 0.815rem;
  background: var(--header-color, $header-color);
  border: 1px solid transparent;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-word-break: normal;
  word-break: normal;

  &.ng-invalid {
    border-color: var(--alert-color, $alert-color);
  }
}

textarea.bmat-input,
input.bm-input {
  @include inputClass();

  &.inverse {
    background: white;
  }

  &.bm-multiselect-input {
    padding: 0.2em 6em 0.2em 0.2em;
  }
}

@mixin runnableConf($background) {
  width: 300;
  height: 5px;
  background: $background;
  border: none;
  border-radius: 3px;
}

@mixin thumbConf() {
  border: 1px solid var(--header-color, $header-color);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  margin-top: -4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

input[type=range] {
  &.bmat-slider {
    -webkit-appearance: none;

    /* fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /* required for proper track sizing in FF */
    width: 300;

    /* Track configuration */
    &::-webkit-slider-runnable-track {
      @include runnableConf($secondary-color-hover);
    }

    &::-moz-range-track {
      @include runnableConf($secondary-color-hover);
    }

    &::-ms-track {
      @include runnableConf(transparent);

      /* Leave room for the larger thumb to overflow with a transparent border */
      border-color: transparent;
      border-width: 6px 0;

      /* Remove default tick marks */
      color: transparent;
    }

    &::-ms-fill-lower {
      background: #777;
      border-radius: 10;
    }

    &::-ms-fill-upper {
      background: var(--secondary-color-hover, $secondary-color-hover);
      border-radius: 10;
    }

    &:focus {
      outline: none;
    }

    &::-moz-focusring {
      outline: 1px solid white;
      outline-offset: -1px;
    }

    &:focus::-webkit-slider-runnable-track,
    &:focus::-ms-fill-upper {
      background: var(--secondary-color-hover, $secondary-color-hover);
    }

    &::-moz-range-progress {
      background: var(--header-background-color, $header-background-color);
      border: 1px solid var(--header-background-color, $header-background-color);
    }

    &:focus::-ms-fill-lower {
      background: var(--header-background-color, $header-background-color);
    }

    /* Thumb configuration */
    &::-webkit-slider-thumb, {
      -webkit-appearance: none;

      @include thumbConf();
    }

    &::-moz-range-thumb {
      @include thumbConf();
    }

    &::-ms-thumb {
      @include thumbConf();
    }
  }
}
