table.bm-table {
  width: 100%;
  text-align: left;
  border-collapse: 0;
  border-spacing: 0;

  h4 {
    margin: 0;
    padding-bottom: 0.2em;
  }

  thead {
    th {
      text-transform: uppercase;
      font-family: "Proxima-Semibold";
      padding: 1em;
      background-color: #f9f9f9;
      font-size: 0.815rem;
      color: #686868;
      font-weight: 500;
    }
  }

  td {
    padding: 1em 1em 0.2em;
    border-top: 1pt solid #e3e3e3;
    margin: 0;
  }

  .bm-table-overlay-container {
    position: absolute;
    left: 0;
    right: 0;
    display: inline;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
