:host {
  display: inline-block;

  * {
    vertical-align: middle;
  }
}

@mixin sizeMultiplier($multiplier) {
  i.bm-user-avatar {
    font-size: #{2 * $multiplier}em;
  }

  img.bm-user-avatar {
    width: #{2 * $multiplier}em;
    height: #{2 * $multiplier}em;
    border-radius: 50%;
  }
}

@include sizeMultiplier(1);

:host(.x2) {
  @include sizeMultiplier(2);
}

:host(.x3) {
  @include sizeMultiplier(3);
}
