<ng-template #iconFiller><i class="bm-user-avatar bm-icon-customer" aria-hidden="true"></i></ng-template>
<img *ngIf="validSrc; else iconFiller;" class="bm-user-avatar" [src]="src" alt="User Avatar" i18n-alt />