<h4 i18n>Language</h4>
<div [formGroup]="form">
  <bm-radio *ngFor="let language of languageList"
    name="language_select"
    formControlName="selectedLanguage"
    [value]="language.code">{{language.name}}</bm-radio>
</div>