:host {
  display: flex;
  flex-wrap: wrap;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

* {
  transition: 0.2s ease;
}

.no_underline {
  text-decoration: none;
}

.padding1rem {
  padding: 1rem 0;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.range-slider {
  border-radius: 1rem;
  position: relative;
  display: block;
  height: 0.3rem;
  background-color: #e3e3e3;
}

.handle {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: -0.43rem;
  left: 24rem;
  border-radius: 3rem;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);
  z-index: 1;
  cursor: pointer;
}

.range-slider-active {
  display: inline-block;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 0.3rem;
  width: 25em;
  position: absolute;
  background-color: #ff443d;
}

#wrapper {
  width: 75%;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 0.1rem #e3e3e3 solid;
}

.swatches {
  float: left;
  margin-right: 4rem;
}

.swatch {
  width: 1rem;
  height: 1rem;
  float: left;
}

ul {
  padding: 0;
  display: block;
  list-style-type: none;
}

ul li div {
  margin: 0.6rem 0;
  float: left;
}

ul li p {
  float: left;
  margin: 0;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

hr {
  display: block;
  border: 0;
  border-top: 0.15rem solid #e3e3e3;
}

.filters {
  padding: 1rem;
  border-top: 1pt solid #e3e3e3;
}

.textfield {
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.333rem;
  display: inline-block;
  padding: 0.3rem 0.6rem;
}

.textfield i,
.ordertag i {
  padding-right: 0.2rem;
  color: #959595;
}

.icons i {
  padding-right: 0.5em;
}

bm-menu-icon {
  position: absolute;
  bottom: 2em;
  left: 0;
}

bm-header {
  flex-direction: row-reverse;
}
