<bm-header>
  <bm-header-user-options [availableLanguages]="languageList"></bm-header-user-options>
</bm-header>
<bm-sidenav [open]="true" #sidenav>
  <nav class="bm-sidenav__sections-container">
    <a class="bm-sidenav-product-logo">
        <svg  class="bm-sidenav-product-logo__graphic"
          xmlns="http://www.w3.org/2000/svg" width="37" height="28" viewBox="0 0 37 28"><defs><radialGradient cx="50" cy="90.2" fx="50%" fy="90.2436224%" r="97.5" gradientTransform="translate(0.500000,0.902436),scale(0.576389,1.000000),rotate(90.000000),scale(1.000000,1.386490),translate(-0.500000,-0.902436)"><stop stop-color="#B8B4B3" offset="0%"/><stop stop-color="#3B3A38" offset="100%"/></radialGradient></defs><g fill="none"><g fill="#FEFEFE"><path d="M31.4 18.9C31.4 21.4 30.7 23.9 29.4 26.1 29.1 26.5 28.7 26.7 28.3 26.7 28 26.7 27.8 26.6 27.6 26.5 27 26.1 26.8 25.3 27.2 24.7 28.3 23 28.8 20.9 28.8 18.9 28.8 12.6 23.8 7.6 17.6 7.6 11.4 7.6 6.3 12.6 6.3 18.9 6.3 20.9 6.9 23 8 24.7 8.4 25.3 8.2 26.1 7.6 26.5 7 26.9 6.2 26.7 5.8 26.1 4.5 23.9 3.8 21.4 3.8 18.9 3.8 11.2 10 5 17.6 5 25.2 5 31.4 11.2 31.4 18.9ZM0.8 13.6C0.2 13.3-0.2 12.6 0.1 11.9 1.5 8.4 3.8 5.5 6.9 3.3 10.1 1.2 13.8 0 17.6 0 28 0 36.5 8.5 36.5 18.9 36.5 21.3 36 23.6 35.1 25.9 34.9 26.4 34.4 26.7 33.9 26.7 33.8 26.7 33.6 26.6 33.5 26.6 32.8 26.3 32.5 25.6 32.8 24.9 33.5 23 33.9 20.9 33.9 18.9 33.9 9.9 26.6 2.6 17.6 2.6 14.3 2.6 11.1 3.5 8.4 5.4 5.7 7.3 3.6 9.9 2.5 12.9 2.2 13.5 1.5 13.8 0.8 13.6ZM24.1 23.6C24.6 24.1 24.6 24.9 24.1 25.4 22.3 27.1 20.1 28 17.8 28 15.6 28 13.3 27.1 11.6 25.4 9.9 23.8 9 21.5 9 19.2 9 16.8 9.9 14.6 11.6 12.9 15 9.5 20.6 9.5 24.1 12.9 24.6 13.4 24.6 14.3 24.1 14.8 23.6 15.3 22.7 15.3 22.2 14.8 19.9 12.4 15.8 12.4 13.4 14.8 12.2 15.9 11.6 17.5 11.6 19.2 11.6 20.8 12.2 22.4 13.4 23.6 15.8 25.9 19.9 25.9 22.2 23.6 22.7 23.1 23.6 23.1 24.1 23.6Z"/></g></g></svg>
    </a>
    <a class="bm-sidenav-section-link bm-sidenav-section-link--selected">
        <i class="fa fa-bar-chart bm-sidenav-section-link__icon" aria-hidden="true"></i>
    </a>
    <a class="bm-sidenav-section-link">
        <i class="fa fa-id-card bm-sidenav-section-link__icon" aria-hidden="true"></i>
    </a>
  </nav>
  <div *ngIf="sidenav.open"
    class="bm-sidenav-submenu__container" role="menu">
    <section class="bm-sidenav-subsection bm-sidenav-subsection--first">
      <header i18n class="bm-sidenav-subsection-title">Statistics</header>
      <nav class="bm-sidenav-subsection-menu">
        <a class="bm-sidenav-subsection-menu__item bm-sidenav-subsection-menu__item--selected">Search</a>
        <a class="bm-sidenav-subsection-menu__item">Exports</a>
      </nav>
    </section>
  </div>
  <bm-menu-icon></bm-menu-icon>
</bm-sidenav>
<bm-content-container>
  <div class="style-texts">
    <h1 class="border-bottom">Paragraphs &amp; Texts</h1>
    <h1>H1 - Primary headline</h1>
    <h2>H2 - Secondary headline</h2>
    <h3>H3 - Third headline</h3>
    <h4>H4 - Fourth headline</h4>
    <h5>H5 - Fifth headline</h5>
    <p>Paragraph</p>
    <p>Lorem ipsum dolor sit amet, con- sectetur adipiscing elit. Fusce sed leo. Maecenas ultrices lorem sit amet diam. Aliquam sollicitudin tristique nulla. Duis 	libero diam, condimentum et, condimentum in, congue eu, tellus. Phasellus eu elit at nisi ultricies lobortis. Suspendisse porta commodo leo.</p>
    <i>Italic</i>
    <i>Lorem ipsum dolor sit amet, con- sectetur adipiscing elit. Fusce sed leo. Maecenas ultrices lorem sit amet diam. Aliquam sollicitudin tristique nulla. Duis 	libero diam, condimentum et, condimentum in, congue eu, tellus. Phasellus eu elit at nisi ultricies lobortis. Suspendisse porta commodo leo.</i>
    <a class="padding1rem block" href="#">This is a link without underline</a>
  </div>
  <div class="style-buttons">
    <h1 class="border-bottom">Buttons</h1>
    <div class="padding1rem">
      <button class="bm-button bm-button--primary">Primary</button>
      <button class="bm-transparent-button">Transparent Button</button>
      <button class="bm-button bm-button--primary-inverse">Primary Inverse</button>
      <a class="bm-button bm-button--primary" href="#">Primary</a>
      <a class="bm-button bm-button--primary-inverse" href="#">Primary Inverse</a>
    </div>
    <div class="padding1rem">
      <button class="bm-button bm-button--secondary">Secondary</button>
      <button class="bm-button bm-button--secondary-inverse">Primary Secondary</button>
      <a class="bm-button bm-button--secondary" href="#">Primary</a>
      <a class="bm-button bm-button--secondary-inverse" href="#">Primary Inverse</a>
    </div>
    <div class="padding1rem">
      <button class="bm-button bm-button--primary" disabled>Primary</button>
      <button class="bm-button bm-button--primary-inverse" disabled>Primary Inverse</button>
      <button class="bm-button bm-button--secondary" disabled>Secondary</button>
      <button class="bm-button bm-button--secondary-inverse" disabled>Primary Secondary</button>
    </div>
  </div>
  <div class="style-buttons">
    <h1 class="border-bottom">Notifications</h1>
    <div class="padding1rem">
      <button class="bm-button bm-button--primary" (click)="showMsg()">Show notification</button>
    </div>
  </div>
  <div>
    <h1 class="border-bottom">Template Forms</h1>
    <div>
      <bm-checkbox [(ngModel)]="formValue.checkbox">Checkbox</bm-checkbox>
      {{formValue.checkbox}}
    </div>
    <div>
      <bm-radio [(ngModel)]="formValue.radio" name="radio1" value="value1">Option 1</bm-radio>
      <bm-radio [(ngModel)]="formValue.radio" name="radio1" value="value2">Option 2</bm-radio>
      {{formValue.radio}}
    </div>
    {{formValue.channels | json }}
    <bm-multiselect [options]="possibleChannels" [(ngModel)]="formValue.channels"></bm-multiselect>
  </div>
  <div [formGroup]="formGroup">
    <h1 class="border-bottom">Reactive Forms</h1>
    <div>
      <bm-checkbox formControlName="check">Checkbox</bm-checkbox>
      {{formGroup.controls['check'].value}}
    </div>
    <div>
      <bm-radio name="radio2" value="value1" formControlName="radio">Option 1</bm-radio>
      <bm-radio name="radio2" value="value2" formControlName="radio">Option 2</bm-radio>
      {{formGroup.controls['radio'].value}}
    </div>
  </div>
  <div>
    <h1 class="border-bottom">Inverse inputs (example template)</h1>
    <div class="filters background-gray-shade5">
      <bm-select class="bm-select--inverse" [(ngModel)]="formValue.select">
        <option value="1">January 1st 2015 / December 31th 2015</option>
        <option value="2">January 1st 2016 / December 31th 2016</option>
        <option value="3">January 1st 2017 / December 31th 2017</option>
      </bm-select>
      <bm-input-search class="inverse" [(ngModel)]="formValue.input"></bm-input-search>
      <input type="text" class="bm-input bm-input--inverse" placeholder="PLACEHOLDER" required>
      <bm-input-duration class="bm-duration-input--inverse" [(ngModel)]="formValue.time" required></bm-input-duration>
      {{formValue.time}} seconds
    </div>
  </div>
  <div class="filters" [formGroup]="formGroup">
    <h1 class="border-bottom">Standard inputs (example reactive)</h1>
    <div class="padding1rem">
      <bm-select formControlName="select">
        <option value="1">January 1st 2015 / December 31th 2015</option>
        <option value="2">January 1st 2016 / December 31th 2016</option>
        <option value="3">January 1st 2017 / December 31th 2017</option>
      </bm-select>
    </div>
    <div class="padding1rem">
      <bm-input-search formControlName="input"></bm-input-search>
      <input type="text" class="bm-input" placeholder="PLACEHOLDER" formControlName="input">
    </div>
  </div>
  <div class="style-buttons">
    <h1 class="border-bottom">Order Tags</h1>
    <div class="padding1rem">
      <div class="bmat-order-tag">
        <i class="fa fa-close"></i>
        <span>Period</span>
        <i class="fa fa-sort"></i>
      </div>
      <div class="bmat-order-tag">
        <i class="fa fa-close"></i>
        <span>Artist</span>
        <i class="fa fa-sort"></i>
      </div>
    </div>
  </div>
  <div class="progres-buttons" [formGroup]="formGroup">
    <h1 class="border-bottom">Widgets</h1>
    <h2>Progress Bar</h2>
    <div class="padding1rem">
      <input type="number" min="0" max="100" class="bm-input" formControlName="progress">
      <bm-progress [value]="formGroup.get('progress').value"></bm-progress>
    </div>
  </div>

  <div class="progres-buttons" [formGroup]="formGroup">
    <h1 class="border-bottom">Media Players</h1>
    <h2>Audio</h2>
    <div class="padding1rem">
      <bm-audio-player src="assets/viper.ogg"></bm-audio-player>
      <bm-audio-player src="assets/viper.ogg">
        <bm-progress></bm-progress>
        <bm-media-output [format]="'HH:SS'"></bm-media-output>
      </bm-audio-player>
    </div>
  </div>

  <div class="progres-buttons" [formGroup]="formGroup">
    <h1 class="border-bottom">File Upload</h1>
    <div class="padding1rem">
      <bm-file-upload (progress)="uploaderChange($event)">
        <div>
          <h3 i18n>Upload tracks in bulk</h3>
          <p i18n>Upload one or multiple tracks at once.</p>
          <p i18n><a>Download our template</a> fill out the fields and upload the resulting file along 
            with the audio files.</p>
          <p i18n>As soon as you drop the files below the process of uploading will start and 
            you'll be able to fill any missing metadata or audio file.</p>
        </div>
        <div bmFileUploadFooter>FOOTER</div>
      </bm-file-upload>
      <div>
        <h2>Upload events</h2>
        <p *ngFor="let event of uploaderEvents;">
          {{ event | json }}
        </p>
      </div>
    </div>
  </div>

  <div class="progres-buttons" [formGroup]="formGroup">
    <h1 class="border-bottom">File Upload</h1>
    <div class="padding1rem">
      <bm-click-file-upload (progress)="uploaderChange($event)">
        <button class="bm-button bm-button--primary">Primary</button>
      </bm-click-file-upload>
    </div>
  </div>


  <!--<div class="progres-buttons">
    <h1 class="border-bottom">Data Tables</h1>
    <bm-data-table [data]="dataTable">
      <bm-data-table-row-overlay-templates>
        <ng-template bmTemplate="delete" let-data="data" let-index="index">
          {{data | json}}
          <span (click)="echo(data)">Click!</span>
        </ng-template>
      </bm-data-table-row-overlay-templates>
      <bm-data-table-column key="field_1" title="Field 1">
        <ng-template bmTemplate="body" let-data="data" let-index="index">
          <bm-audio-player [src]="data"></bm-audio-player>
        </ng-template>
        <ng-template bmTemplate="header">
          <bm-audio-player></bm-audio-player>
        </ng-template>
      </bm-data-table-column>
      <bm-data-table-column key="field_2" title="Field 2">
      </bm-data-table-column>
    </bm-data-table>
  </div>-->

  <h1 class="border-bottom">Icons</h1>
    <ul class="icons">
      <li>
        <i class="bm-icon-camera bm-1"></i>
        <span class="bm-1">bm-icon-camera</span>
      </li>
      <li>
        <i class="bm-icon-barcode bm-1"></i>
        <span class="bm-1">bm-icon-barcode</span>
      </li>
      <li>
        <i class="bm-icon-megaphone bm-1"></i>
        <span class="bm-1">bm-icon-megaphone</span>
      </li>
      <li>
        <i class="bm-icon-microphone bm-1"></i>
        <span class="bm-1">bm-icon-microphone</span>
      </li>
      <li>
        <i class="bm-icon-radio bm-1"></i>
        <span class="bm-1">bm-icon-radio</span>
      </li>
      <li>
        <i class="bm-icon-edit bm-1"></i>
        <span class="bm-1">bm-icon-edit</span>
      </li>
      <li>
        <i class="bm-icon-tv bm-1"></i>
        <span class="bm-1">bm-icon-tv</span>
      </li>
      <li>
        <i class="bm-icon-reports bm-1"></i>
        <span class="bm-1">bm-icon-reports</span>
      </li>
      <li>
        <i class="bm-icon-artists bm-1"></i>
        <span class="bm-1">bm-icon-artists</span>
      </li>
      <li>
        <i class="bm-icon-tracks bm-1"></i>
        <span class="bm-1">bm-icon-tracks</span>
      </li>
      <li>
        <i class="bm-icon-labels bm-1"></i>
        <span class="bm-1">bm-icon-labels</span>
      </li>
      <li>
        <i class="bm-icon-search bm-1"></i>
        <span class="bm-1">bm-icon-search</span>
      </li>
      <li>
        <i class="bm-icon-channels2 bm-1"></i>
        <span class="bm-1">bm-icon-channels2</span>
      </li>
      <li>
        <i class="bm-icon-subscriptions bm-1"></i>
        <span class="bm-1">bm-icon-subscriptions</span>
      </li>
      <li>
        <i class="bm-icon-sigpools bm-1"></i>
        <span class="bm-1">bm-icon-sigpools</span>
      </li>
      <li>
        <i class="bm-icon-content-hollow bm-1"></i>
        <span class="bm-1">bm-icon-content-hollow</span>
      </li>
      <li>
        <i class="bm-icon-content bm-1"></i>
        <span class="bm-1">bm-icon-content</span>
      </li>
      <li>
        <i class="bm-icon-channels bm-1"></i>
        <span class="bm-1">bm-icon-channels</span>
      </li>
      <li>
        <i class="bm-icon-customer bm-1"></i>
        <span class="bm-1">bm-icon-customer</span>
      </li>
      <li>
        <i class="bm-icon-dashboard bm-1"></i>
        <span class="bm-1">bm-icon-dashboard</span>
      </li>
      <li>
        <i class="bm-icon-it bm-1"></i>
        <span class="bm-1">bm-icon-it</span>
      </li>
      <li>
        <i class="bm-icon-tasks bm-1"></i>
        <span class="bm-1">bm-icon-tasks</span>
      </li>
      <li>
        <i class="bm-icon-recordings bm-1"></i>
        <span class="bm-1">bm-icon-recordings</span>
      </li>
      <li>
        <i class="bm-icon-content-channel bm-1"></i>
        <span class="bm-1">bm-icon-content-channel</span>
      </li>
      <li>
        <i class="bm-icon-artist-list bm-1"></i>
        <span class="bm-1">bm-icon-artist-list</span>
      </li>
      <li>
        <i class="bm-icon-track-list bm-1"></i>
        <span class="bm-1">bm-icon-track-list</span>
      </li>
      <li>
        <i class="bm-icon-ads-report bm-1"></i>
        <span class="bm-1">bm-icon-ads-report</span>
      </li>
      <li>
        <i class="bm-icon-music-report bm-1"></i>
        <span class="bm-1">bm-icon-music-report</span>
      </li>
      <li>
        <i class="bm-icon-content-channel bm-1"></i>
        <span class="bm-1">bm-icon-content-channel</span>
      </li>
      <li>
        <i class="bm-icon-ads bm-1"></i>
        <span class="bm-1">bm-icon-ads</span>
      </li>
      <li>
        <i class="bm-icon-loop bm-1"></i>
        <span class="bm-1">bm-icon-loop</span>
      </li>
      <li>
        <i class="bm-icon-delete-selection bm-1"></i>
        <span class="bm-1">bm-icon-delete-selection</span>
      </li>
      <li>
        <i class="bm-icon-pointer-to-selection bm-1"></i>
        <span class="bm-1">bm-icon-pointer-to-selection</span>
      </li>
      <li>
        <i class="bm-icon-top-releases-box bm-1"></i>
        <span class="bm-1">bm-icon-top-releases-box</span>
      </li>
      <li>
        <i class="bm-icon-release-list bm-1"></i>
        <span class="bm-1">bm-icon-release-list</span>
      </li>
      <li>
        <i class="bm-icon-top-releases bm-1"></i>
        <span class="bm-1">bm-icon-top-releases</span>
      </li>
      <li>
        <i class="bm-icon-pause bm-1"></i>
        <span class="bm-1">bm-icon-pause</span>
      </li>
    </ul>
</bm-content-container>
