@import 'styles/_color_variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Proxima-Regular";
  font-weight: 400;
  background: #fff;
  color: #281919;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

body {
  font-size: 13px;
}

.fullscreen-root {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
  align-content: stretch;
  flex-wrap: wrap;
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Proxima-Semibold';
  font-weight: 500;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.6rem;
}

p,
label,
span {
  font-weight: 500;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
  color: $anchor-color;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-family: "Proxima-Semibold";
  font-weight: 500;
}

input {
  margin-right: 0.1rem;
}

