@import '../../../styles/_color_variables.scss';

bm-graphql-pagination {
  display: inline-block;
}

.bm-graphql-pagination {
  &__button {
    border: none;
    background: none;
    color: $anchor-color;

    &:disabled {
      color: #333;
    }
  }

  &__input {
    padding: 6px 0 6px 16px;
  }
}
