<form (ngSubmit)="submit($event)" [formGroup]="pageInput" *ngIf="numberPages > 1">
  <button class="fa fa-angle-double-left bm-graphql-pagination__button"
    aria-label="Go to the first page" i18n-aria-label
    (click)="goToFirst($event)"
    [disabled]="isFirst"></button>
  <button class="fa fa-angle-left bm-graphql-pagination__button"
    (click)="deltaPage($event, -1)"
    aria-label="Go to previous page" i18n-aria-label
    [disabled]="isFirst"></button>
  <input type="number"
    class="bm-graphql-pagination__input"
    min="0" [max]="numberPages" 
    [style.width]="inputWidth"
    formControlName="page" i18n-aria-label aria-label="Set page to go" />
  <button type="submit" class="bm-button bm-button--primary" i18n>Go</button>
  <span i18n>of</span>
  {{numberPages}}
  <button class="fa fa-angle-right bm-graphql-pagination__button"
    (click)="deltaPage($event, 1)"
    [disabled]="isLast"
    aria-label="Go to next page" i18n-aria-label></button>
  <button class="fa fa-angle-double-right bm-graphql-pagination__button"
    (click)="goToLast($event)"
    aria-label="Go to the last page" i18n-aria-labe
    [disabled]="isLast"></button>
</form>