bm-input-duration {
  display: inline-flex;
  flex-wrap: nowrap;
}

.bm-duration-input {
  &--inverse {
    .bm-duration-input__input {
      background-color: white;
    }
  }

  &__input {
    width: 3em;
  }
}
