bm-notification-chip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  display: block;
  text-align: center;

  .bm-notification-chip-content {
    display: inline-block;
    background-color: #f7fef0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
  }
}
