@import '../../../styles/_color_variables.scss';

bm-multiselect {
  display: inline-block;
}

.bm-multiselect-input-container {
  display: block;
  position: relative;
}

.bm-multiselect-input {
  width: 100%;
  box-sizing: border-box;
}

.bm-multiselect-remove-all,
.bm-multiselect-remove-item,
.bm-multiselect-add-all {
  background: none;
  color: $anchor-color;
  border: none;
}

.bm-multiselect-add-all {
  position: absolute;
  right: 0;
  top: 0.5em;
}

.bm-multiselect-suggestions-container {
  position: absolute;
  top: 1.8em;
  width: 100%;
  background: white;
  max-height: 10em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);
  overflow-x: auto;
  z-index: 1000;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0.2em 1em;
    cursor: pointer;
  }

  li:nth-child(odd) {
    background-color: white;
  }

  li:nth-child(even) {
    background-color: var(--secondary-color, $secondary-color);
  }

  li:hover,
  li:focus {
    background-color: var(--secondary-color-hover, $secondary-color-hover);
  }
}

.bm-multiselect-selected-options {
  text-align: left;

  .bm-multiselect-button-container {
    text-align: right;
    padding: 1em 0;
  }

  .bm-multiselect-remove-item {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    max-height: 15em;
    overflow-x: auto;
    list-style-type: none;
  }

  li {
    padding: 0.5em;
    display: flex;

    &:nth-child(odd) {
      background-color: #f5f7f8;
    }

    &:focus {
      background-color: var(--secondary-color-hover, $secondary-color-hover);
    }

    &:hover {
      .bm-multiselect-remove-item {
        display: block;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
