<div class="bm-multiselect-input-container">
<input class="bm-multiselect-input bm-input" #input autocomplete="off"
  [required]="required"
  [disabled]="disabled"
  [name]="name"
  [tabIndex]="tabIndex"
  [readonly]="readonly"
  [attr.aria-label]="ariaLabel"
  [attr.aria-labelledby]="ariaLabelledby"
  (keyup)="inputKeyUp($event)"
  (focus)="inputFocus()"
  (focusout)="inputFocusout($event)"/>
  <div *ngIf="showSuggestions" tabindex="-1" class="bm-multiselect-suggestions-container" [@fadeInOut]="'in'">
    <ul>
      <li i18n tabindex="-1" *ngIf="filteredOptions.length === 0">No matches found</li>
      <li #sugg tabindex="0" *ngFor="let option of filteredOptions; let i = index;"
        (click)="selectOption(option, $event)"
        (focusout)="suggestionFocusout($event)"
        (keydown)="suggestionKeyUp($event, i, option)">
        {{option.displayValue}}
      </li>
    </ul>
  </div>
  <button class="bm-multiselect-add-all" i18n
    (click)="addAll()"
    (focus)="afterOptionFocus()">Add all</button>
</div>
<div *ngIf="value.length" class="bm-multiselect-selected-options">
  <div class="bm-multiselect-button-container">
    <button class="bm-multiselect-remove-all" i18n (click)="removeAll()">Remove all</button>
  </div>
  <ul>
    <li *ngFor="let option of selectedOptionsList" tabindex="0"
      (keyup)="selectedItemKeyup($event, option)">
      <span>{{option.displayValue}}</span>
      <button bmIconButton class="bm-multiselect-remove-item fa fa-trash" arial-label="Remove this item"
        (click)="removeOption(option)" i18n-arial-label></button>
    </li>
  </ul>
</div>