@import '../../../styles/_color_variables.scss';

.bm-radio {
  &--focused {
    .bm-radio-container {
      border-color: var(--bm-checkbox-path-color, $anchor-color);
    }
  }

  &__container {
    border: 1px solid var(--secondary-color-hover, $secondary-color-hover);
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }

  &__checked-mark {
    background-color: var(--bm-checkbox-path-color, $anchor-color);
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
  }
}
