<label class="bm-radio__label_container">
  <input #input type="radio" class="bm-visual-hidden"
    [required]="required"
    [disabled]="disabled"
    [name]="name"
    [tabIndex]="tabIndex"
    [readonly]="readonly"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledby"
    (change)="inputChange()"
    (focus)="inputFocus()"
    (blur)="inputBlur()"
  />
  <div class="bm-radio__container">
    <span class="bm-radio__checked-mark" *ngIf="checked" [@fadeInOut]="'in'">
    </span>
  </div>
  <span class="bm-radio__label"><ng-content></ng-content></span>
</label>