@import '../../../styles/_layout_variables.scss';
@import '../../../styles/_color_variables.scss';

:host {
  font-size: large;
  position: relative;

  .bm-header-toggle {
    text-align: right;
    color: white;
    background: none;
    border: 0 none;
    font-size: 0.815rem;
  }
}

.bm-header-user-name {
  padding: 0 0.5em;
  vertical-align: middle;
}

.bm-header-user-avatar {
  display: inline-block;
  width: 2em;
  height: 2em;

  * {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
  }
}

.bm-header-caret {
  text-align: right;
}

.bm-header-user-data-container {
  position: absolute;
  right: -16px;
  z-index: 1000;
  top: calc(#{$header-height} - 0.5em);
  width: 30rem;
  max-width: 100vw;
  background-color: transparent;
}

.bm-header-user-data {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(143, 143, 143, 0.5);
  border-radius: 2px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  bm-user-portrait {
    width: 4em;
    color: black;
  }

  bm-user-profile-detail {
    flex: 1 1;
    color: black;
    padding: 0 1em;
  }
}

svg.bm-header-user-caret-box {
  display: block;
  width: 1em;
  height: 0.5em;
  margin-left: auto;
  margin-right: 1em;

  polygon {
    fill: white;
  }
}

bm-header-profile-languages {
  flex: 1 1 100%;
}

.bm-header-user-log-out {
  flex: 1 1 100%;
  text-align: center;
  border-top: 1px solid var(--secondary-color, $secondary-color);
  margin-top: 0.5em;
  padding-top: 0.5em;

  * {
    vertical-align: middle;
  }
}
