<button #toggleContainer class="bm-header-toggle" tabindex="0" (click)="toggleOpen()" aria-label="Toggle user profile" i18n-aria-label>
  <bm-user-portrait [src]="userData?.avatarSrc"></bm-user-portrait>
  <span class="bm-header-user-name">{{ userData?.name }}</span><i class="fa fa-sort-desc" aria-hidden="true"></i>
</button>
<div *ngIf="open" class="bm-header-user-data-container" [@flyInOut]="'in'">
  <svg class="bm-header-user-caret-box" viewBox="0 0 100 50" xmlns="http://www.w3.org/2000/svg">
    <polygon points="0,50 50,0 100,50" />
  </svg>
  <div class="bm-header-user-data">
    <bm-user-portrait class="x2" [src]="userData?.avatarSrc"></bm-user-portrait>
    <bm-user-profile-detail
      [userData]="userData"
      (viewProfile)="viewProfile.emit()"></bm-user-profile-detail>
    <bm-header-profile-languages 
      *ngIf="availableLanguages && availableLanguages.length"
      [form]="languageSelector"
      [languageList]="availableLanguages"></bm-header-profile-languages>
     <div class="bm-header-user-log-out">
       <button class="bm-button bm-button--primary-inverse" style="border: 0" i18n (click)="logOut.emit()">
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>Sign out
       </button>
      </div>
  </div>
</div>