<audio #audio
  [autoplay]="autoplay"
  [controls]="controls"
  [loop]="loop"
  [muted]="muted"
  [preload]="preload"
  (loadeddata)="onloadeddata($event)"
  (durationchange)="ondurationchange()"
  (canplay)="oncanplay($event)"
  (play)="onplay($event)"
  (playing)="onplaying($event)"
  (pause)="onpause($event)"
  (waiting)="onwaiting($event)"
  (ended)="onended($event)"
></audio>
<button class="bm-audio-player__button" aria-label="Toggle audio play" i18n-aria-label
  [class.bm-audio-player__button--playing]="isPlaying"
  [disabled]="isDisabled"
  (mousedown)="onButtonMousedown($event)"
  (mouseup)="togglePlay()">
  <i class="fa" aria-hidden="true"
    [ngClass]="{
      'fa-youtube-play': !isLoading,
      'fa-spinner': isLoading
    }"
  ></i>
</button>
<ng-content select="bm-progress, bm-media-output"></ng-content>