@import '../../../styles/_color_variables.scss';

bm-audio-player {
  display: inline-flex;
  align-items: center;
}

.bm-audio-player {
  &__button {
    border: 0;
    background: none;
    padding: 0;
    font-size: 2rem;
    margin: 0 0.2em;
    color: var(--secondary-color, $secondary-color);

    &--playing {
      color: var(--header-background-color, $header-background-color);
    }

    &[disabled] {
      color: var(--header-color, $header-color);
    }
  }
}

.fa-spinner {
  transform-origin: 50% 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
